
#a{
    float: left;
}
.logo{
    width: 50px;
    height: 50px;
}
#search{
    float: left;
    margin-top: 5px;
    
}
.search-outline{
    border: none;

}
.link{
    padding-top: 10px;  
}
.link li{
    border-right: 3px solid lightgrey ;
    padding-right: 10px;
}
.cart-bt{
    background-color: gray;
    border: 2px solid white;
}
i{
    margin: 7px;
}
.navbar{
    background-color: rgb(135, 177, 161);
    text-align: right;
    height: 50px;    
    
    
}
.navbar li{
    display:inline-block;
    margin-right: 50px;
    font-size: 20px;
    
}

.navbar a{
    color: rgb(17, 102, 182);
    
}
.navbar a:hover{
    opacity: 0.8;
    color: white;
}

/*
#h1{
    color: aqua;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#h2{
    background-color:burlywood
}
#h3{
    background-color: cornflowerblue;
    font-size: 15px;
    text-align: center;
}
#p4{
    background-color: darkcyan;
    color: darkgray;
}
.section{
    background-color: darksalmon;
    color:floralwhite;

}


section{
    background-color: rgb(0, 140, 255);
    color: burlywood;
    width: 69%;
    padding: 4px 4px 4px 4px;
    margin-top: 10px;   
}

article{
    background-color: cornflowerblue;
    color: white;
    width: 69%;
    padding: 4px 4px 4px 4px;
    margin-top: 10px;

}

aside{

    background-color: chocolate;
    color: cornsilk;
    width: 29%;
    position: absolute;
    right: 5px;
    top: 68px;
    height: 270px;
    padding: 4px 4px 4px 4px;
    margin-top: 8px;
    
}
@media screen and (max-width: 768px) {
    aside{
      height: 317px;
    }
  }
*/

#header{
    text-align: center;
    color: lightslategray;
    margin: 100px;
}
hr{
    width: 40%;
}
section{
    margin-left: 5%;
    margin-top: 40px;
}
section img{
    margin-left: 10px;
    width: 30%;
}
.shop-btn{
    margin-left: 40%;
    padding: 20px;
    width: 200px;
    font-size: 20px;
    background-color: lightslategray;
    color: mediumaquamarine;
    margin-top: 20px;
}

article{
   width: 40%;
   margin-top: 40px;
   margin-left: 5%;
}
.art{
   height: 400px;
   width: 500px;
}

article .star-rate{
    position: absolute;
    top:1104px;
    left:420px ;
}


.first-aside{
    width: 30%;
    margin-top: 40px;
    position: absolute;
    top: 650px;
    left: 650px;
       
}
.four-img{
    width: 280px;
    
}
.star1{
    position: absolute; 
    left: 120px ;
    top: 172px;   
}

.star2{
    position: absolute; 
    left: 120px ;
    top: 417px;
}
.aside1{
    width: 30%;
    margin-top: 40px;
    position: absolute;
    right: 1px;
    top: 650px;
}
.hp{
    text-align: center;
    margin: 50px 200px;
}

/*Footer*/
footer{
    margin-left: 5%;
    
}
#footer-img{
    width: 20%;
    float: left;
}

#address-pic{
    width: 240px;
    height: 200px;
}
h4{
    margin: 0px;
    
}
#ul-footer{
    background-color: aqua; 
    width: 17%;
    float: left; 
    margin-right: 5px;   
}
footer #li-footer{
  list-style: none;
  
}
#li-footer li{
    padding: 10px 0px;
}
#ul-footer1{
    background-color: aqua; 
    width: 17%;
    
    float: left; 
    margin-right: 5px;
    
}
#ul-footer2{
    background-color: aqua; 
    width: 17%;
    
    float: left; 
    margin-right: 5px;
}
#ul-footer3{
    background-color: aqua; 
    width: 17%;
    
    float: left; 
    
}






 












