    /*NAVBAR*/      
    #navbar ul li#ab{
        float: left;

    }
    .logo{
        width: 100px;
    }
    
    .link{
        padding-top: 30px;  
    }
    .link li{
        border-right: 3px solid lightgrey ;
        padding-right: 10px;
    }
    
    #navbar{
        
        background-color: #222222;
        text-align: right;
        height: 100px;
        position: fixed;
        width: 100%;
            
    }
    #navbar li{
        display:inline-block;
        margin-right: 50px;
        font-size: 20px;
    }
    #navbar a{
        color: #cccccc;
    }
    #navbar a:hover{
        color: #fff;
    }
    


  /*HEADER*/
#header{
    text-align: center;
    color: lightslategray;
    margin: 100px;
}
#line{
    width: 40%;
    margin-left: 30%;
}
section{
    margin-left: 5%;
    margin-top: 40px;
}
section img{
    margin-left: 10px;
    width: 30%;
}
.btn-section{
    margin-left: 40%;
    padding: 40px;
    width: 200px;
    font-size: 40px;
    background-color: #198754;
    color:#fff;
    margin-top: 45px;
    height: 60px;
}

   /*ARTICLE */
article{
   width: 40%;
   margin-top: 40px;
   margin-left: 5%;
}
.art{
   height: 500px;
   width: 500px;
}

article .star-rate{
    position: absolute;
    top:1520px;
    left:430px ;
}
article p{
    padding-top: 5px;
}


.first-aside{
    width: 30%;
    margin-top: 365px;
    position: absolute;
    top: 650px;
    left: 650px;
       
}
.four-img{
    width: 280px;
    height: 215px;
    
}
.star1{
    position: absolute; 
    left: 130px ;
    top: 217px;   
}


.star2{
    position: absolute; 
    left: 140px ;
    top: 510px;
}
.aside1{
    width: 30%;
    margin-top: 365px;
    position: absolute;
    right: 1px;
    top: 650px;
}











/* Footer */

.footer{
    padding: 30px;
    color: #cccccc;
    background-color: #222222;    
}

.footer .social{
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border-bottom: 10px;
    border: 1px solid #cccccc ;
    margin-right: 5px;
}

.footer input{
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn{
    padding: 15px 5px 10px;
    margin: 3px 0 0 2px;
}






































































 












